<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="life.css" />
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="life.js"></script>
  </head>
  <body>
    <div id="app">
      <table id="main">
        <tr v-for="r in rowNumber" class="row">
          <td v-for="c in colNumber" v-bind:class="[ 'cell', { alive: cells[cellIdx(r, c)] }" v-on:click="toogleCell(cellIdx(r, c), $event)" v-on:mouseover="toogleCell(cellIdx(r, c), $event)"></td>
        </tr>
      </table>
      <button onclick="javascript:start()">Start</button>
      <button onclick="javascript:stop()">Stop</button>
      <button onclick="javascript:life()">Next</button>
      <button onclick="javascript:speedUp()">Faster</button>
      <button onclick="javascript:slowDown()">Slower</button>
      <button onclick="javascript:reset()">Reset</button>
      <span>Current speed : <input v-bind:="speed" /></span>
    </div>
  </body>
</html>
